#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 50%;
    margin-top: 0%;
    margin-left: 25%;
    margin-right: 2%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    min-width: 133px;
    border-radius: 5px;
}

#myUL {

    list-style-type: none;
    padding: 0;
    margin: 0 15% 0 15%;
    border-radius: 10px;
    height:350px;
    overflow:hidden; overflow-y:scroll;
}

#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

#myUL li a.header {
    background-color: #e2e2e2;
    cursor: default;
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
}

.enterDetails{
    padding: 2px 5px;
    border:black solid 1px;
    width: 45%;
    min-width: 300px;
    border-radius: 5px;
    background-color: #f6f6f6;
    margin-top: 3%;
}

#score{
    padding:3px;
    border:black solid 1px;
    background-color: #f6f6f6;
    width: 20%;
    border-radius: 5px;
    margin-top: 1%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: -5px;
}



.checkboxes{
    position:relative;
    left: 85%;

}

body{
    background-image: url("hospital1.jpg")




}
.theForm{
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 1%;
    margin-left: 15%;
    width:70%;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgba(246,246,246,0.5);

}

input[type="text"], textarea {

  background-color : rgba(246,246,246,0.5);
  border: 0px;
  border-bottom: rgba(160,160,160,0.8) 0.5px solid;

}



.submitButton{
    top:18em;
    left:69%;
}
